.Detail {
  max-width: 700px;
  margin: 0 auto;

  .Detail__Return {
    margin-top: 15px;
  }

  .Detail__Title {
    margin-top: 20px;
  }

  .Detail__Date {
    margin-top: 10px;
    color: grey;
  }

  .Detail__Text {
    margin-top: 20px;
  }

  .Detail__Link {
    margin-top: 50px;
  }
}