.container {
  margin: auto;

  .return {
    margin-top: 15px;
  }

  .title {
    margin-top: 20px;
  }

  .date {
    margin-top: 10px;
    color: grey;
  }

  .text {
    margin-top: 20px;
  }

  .link {
    margin-top: 50px;
  }
}
