.formControl {
  div {
    &::before, &::after {
      border: none;
    }

    &:hover::before {
      border-bottom: none !important;
    }

    &:hover::after {
      border-bottom: none !important;
    }
  }
}
