.container {
  margin-top: 20px;

  .paper {
    display: flex;
    margin-top: 8px;
    padding: 2px 4px;
    align-items: center;

    .input {
      margin-left: 8px;
      flex: 1;
    }
  }

  .iconButton {
    padding: 10px;
  }
}
