.header {
  display: flex;
  border-top: 1px solid #ebebeb;
  margin-top: 5px;
  border-bottom: 4px double #000;

  .title {
    font-size: 20px;
    margin: auto;
  }

}

.logo {
  position: absolute;
  top: 8px;
}
