.container {
  margin-top: 16px;

  .previousButton {
    margin-right: 8px;
    border-color: gray;
  }

  .disabledButton {
    background-color: white;
    color: gray;
    cursor: not-allowed;
  }

  .baseButton {
    width: 140px;
    box-sizing: content-box;
  }

  .activeButton {
    background: #007bff;
    color: white;
    border-color: #007bff;
  }

  .nextButton {
    margin-left: 4px;
  }
}
